TESTING FOR VIF VALUE USING VIF IN PYTHON

In [1]:
import numpy as np
import pandas as pd
from pandas.plotting import table
import matplotlib.pyplot as plt
import matplotlib.colors as pltcol
import matplotlib.ticker as ticker
import seaborn as sns
%matplotlib inline
import math
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.tools.eval_measures as ev
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor
# importing r2_score module
from sklearn.metrics import mean_absolute_error, make_scorer
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [5]:
df = pd.read_csv('StudentData.csv')
df.head()

,Gender,Age,Education,ss,ocd,eocd,tdu,doc,ic,ac,buc,poc,ata,smu,bc,ce,Marks
0,Male,20,ug,1.0,2.0,1,0.5,0.1,tw,No,d,n1,a2,a3,a4,a5,65.0
1,Male,21,ug,2.0,4.5,4,1.0,0.8,tw,No,d,a1,a2,st3,a4,a5,68.0
2,Female,19,ug,1.0,3.0,3,1.5,0.7,no,No,d,n1,n2,st3,st4,n5,68.0
3,Male,19,ug,2.0,5.0,2,1.0,1.0,no,No,n,n1,n2,st3,st4,n5,70.0
4,Male,22,ug,2.0,6.0,4,2.0,1.5,no,Yes,d,n1,st2,st3,st4,st5,70.0

In [6]:
temp = pd.get_dummies(df['Education'], drop_first=True) 
df = pd.concat([df, temp], axis=1)
temp = pd.get_dummies(df['ic'], drop_first=True) 
df = pd.concat([df, temp], axis=1)
temp = pd.get_dummies(df['ac'], drop_first=True) 
df = pd.concat([df, temp], axis=1)
# df.drop(['Education', 'ic', 'ac'], axis=1, inplace = True)
df.head()

,Gender,Age,Education,ss,ocd,eocd,tdu,doc,ic,ac,...,bc,ce,Marks,phd,ug,g,no,tb,tw,Yes
0,Male,20,ug,1.0,2.0,1,0.5,0.1,tw,No,...,a4,a5,65.0,0,1,0,0,0,1,0
1,Male,21,ug,2.0,4.5,4,1.0,0.8,tw,No,...,a4,a5,68.0,0,1,0,0,0,1,0
2,Female,19,ug,1.0,3.0,3,1.5,0.7,no,No,...,st4,n5,68.0,0,1,0,1,0,0,0
3,Male,19,ug,2.0,5.0,2,1.0,1.0,no,No,...,st4,n5,70.0,0,1,0,1,0,0,0
4,Male,22,ug,2.0,6.0,4,2.0,1.5,no,Yes,...,st4,st5,70.0,0,1,0,1,0,0,1

In [21]:
y, X = dmatrices('Marks ~ Education + Age + Gender + ss + poc + ocd + ic + ac + buc + ata + smu+ bc + ce', df, return_type='dataframe')

In [22]:
X

,Intercept,Education[T.phd],Education[T.ug],Gender[T.Male],poc[T.n1],poc[T.st1],ic[T.g],ic[T.no],ic[T.tb],ic[T.tw],...,ata[T.st2],smu[T.n3],smu[T.st3],bc[T.n4],bc[T.st4],ce[T.n5],ce[T.st5],Age,ss,ocd
0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,1.0,2.0
1,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,4.5
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,19.0,1.0,3.0
3,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,19.0,2.0,5.0
4,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,22.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,17.0,2.0,6.0
115,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,1.0,8.0
116,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,24.0,5.0,2.0
117,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,2.0,5.0
118,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,17.0,1.5,6.0

In [23]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns

In [24]:
vif

    VIF Factor          features
0   377.783888         Intercept
1     2.100768  Education[T.phd]
2     2.473690   Education[T.ug]
3     1.301522    Gender[T.Male]
4     1.509699         poc[T.n1]
5     1.236715        poc[T.st1]
6     3.113392           ic[T.g]
7     2.258512          ic[T.no]
8     2.825782          ic[T.tb]
9     1.814649          ic[T.tw]
10    2.152035         ac[T.Yes]
11    3.669748          buc[T.d]
12    2.928642          buc[T.n]
13    2.106136         ata[T.n2]
14    1.632628        ata[T.st2]
15    2.162815         smu[T.n3]
16    1.779777        smu[T.st3]
17    2.706671          bc[T.n4]
18    2.788968         bc[T.st4]
19    1.796037          ce[T.n5]
20    1.671756         ce[T.st5]
21    3.663965               Age
22    2.230499                ss
23    1.818937               ocd

In [13]:
temp = ols('Marks ~ Education + ss + ocd + ic + ac', df);
model5= temp.fit()
print(model5.params)

Intercept           70.818127
Education[T.phd]    -7.637045
Education[T.ug]      0.780476
ic[T.g]              1.845596
ic[T.no]            -0.272558
ic[T.tb]             1.873452
ic[T.tw]           -10.383679
ac[T.Yes]            2.957437
ss                   4.076030
ocd                 -0.640224
dtype: float64

In [15]:
model5.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                 Results: Ordinary least squares
==================================================================
Model:               OLS              Adj. R-squared:     0.790
Dependent Variable:  Marks            AIC:                694.4447
Date:                2021-11-28 08:56 BIC:                722.2359
No. Observations:    119              Log-Likelihood:     -337.22
Df Model:            9                F-statistic:        50.42
Df Residuals:        109              Prob (F-statistic): 7.94e-35
R-squared:           0.806            Scale:              18.495
------------------------------------------------------------------
                  Coef.   Std.Err.    t    P>|t|   [0.025   0.975]
------------------------------------------------------------------
Intercept         70.8181   2.1925 32.3002 0.0000  66.4727 75.1636
Education[T.phd]  -7.6370   2.0915 -3.6515 0.0004 -11.7823 -3.4918
Education[T.ug]    0.7805   0.9053  0.8621 0.3905  -1.0139  2.5748
ic[T.g]            1.8456   1.3340  1.3835 0.1693  -0.7983  4.4895
ic[T.no]          -0.2726   1.7107 -0.1593 0.8737  -3.6632  3.1180
ic[T.tb]           1.8735   1.5379  1.2182 0.2258  -1.1746  4.9215
ic[T.tw]         -10.3837   1.9355 -5.3648 0.0000 -14.2198 -6.5475
ac[T.Yes]          2.9574   0.9384  3.1515 0.0021   1.0975  4.8173
ss                 4.0760   0.3481 11.7092 0.0000   3.3861  4.7660
ocd               -0.6402   0.3269 -1.9585 0.0527  -1.2881  0.0077
------------------------------------------------------------------
Omnibus:              0.160         Durbin-Watson:           1.114
Prob(Omnibus):        0.923         Jarque-Bera (JB):        0.328
Skew:                 -0.043        Prob(JB):                0.849
Kurtosis:             2.758         Condition No.:           47
==================================================================

"""